.tela{
position: relative;
width: 1380px;
height: 840px;

background: rgba(250, 253, 214, 0.3);
}

.navigation{
position: absolute;
width: 91px;
height: 832px;
left: 0px;
top: 0px;
}

.open {
position: absolute;
left: 76.7%;
right: 0%;
top: 2.83%;
bottom: 94.82%;
}
.seta{
position: absolute;
left: 37.5%;
right: 37.5%;
top: 25%;
bottom: 25%;

}
.elipse{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #A2B38B;
}

.menu{
position: absolute;
left: 0%;
right: 12.62%;
top: 0%;
bottom: 0%;
background: #FFFFFF;
box-shadow: 1px 0px 0px #DEDEDE;
}

.profile{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;
position: absolute;
width: 44px;
height: 44px;
left: 24px;
top: 20px;

}

.avatar{
width: 44px;
height: 44px;

background: #A2B38B;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.af{
position: absolute;
left: 0%;
right: 0%;
top: 0px;
bottom: 0px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
/* identical to box height */

text-align: center;

/* Neutral/White */

color: #FFFFFF;
}

.serch{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 13px 16px;
gap: 10px;

position: absolute;
left: 17.78%;
right: 20%;
top: 11.16%;
bottom: 82.84%;

/* Light / InputBg */

background: #F5F5F5;
border-radius: 8px;
}

.iconS{
width: 24px;
height: 24px;

flex: none;
order: 0;
flex-grow: 0;
}

.listItem{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
width: 56px;
height: 248px;
left: 16px;
top: 186px;
}

.menu1{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 13px 16px;
gap: 10px;

width: 56px;
height: 50px;

border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.icon1{
    width: 24px;
    height: 24px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0; 
}

.menu2{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 13px 16px;
gap: 10px;

width: 56px;
height: 50px;

border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.icon2{
    width: 24px;
height: 24px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.menu3{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 13px 16px;
gap: 10px;

width: 56px;
height: 50px;

border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

.icon3{
    width: 24px;
height: 24px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.menu4{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 13px 16px;
gap: 10px;

width: 56px;
height: 50px;

border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 3;
flex-grow: 0;
}

.icon4{
    width: 24px;
    height: 24px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.titulo{
    position: absolute;
    width: 450px;
    height: 118px;
    left: 415px;
    top: 0px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 80px;
    line-height: 80%;
    /* or 134px */
    
    text-align: center;
    
    color: #7C7C7A;

}

.frame3{
    position: absolute;
    width: 1280px;
    height: 180px;
    left: 80px;
    top: 190px;
    background: #E4E9BE;
}

.text1{
    position: absolute;
    width: 1083px;
    height: 144px;
    left: 47px;
    top: 48px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
    /* or 28px */
    
    text-align: center;
    
    color: #434343;
    
}

.dicas{
    
position: absolute;
width: 634px;
height: 91px;
left: 144px;
top: 380px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 140%;
/* or 45px */


color: #000000;

}

.textDicas{
    position: absolute;
    width: 1093px;
    height: 180px;
    left: 125px;
    top: 470px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 140%;
    /* or 28px */
    
    
    color: #000000;
    
}